<?xml version="1.0" ?>
<!--
/**
 * @author Midhun
 * @copyright Copyright (c) 2019 Midhun
 * @package Midhun_CategoryIcon
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Midhun_CategoryIcon" setup_version="1.0.0">
    </module>
</config>
